<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LS</title>
    <script is:inline>
      window.addEventListener("message", function (event) {
        if (event.data === "dark-mode-enabled") {
          localStorage.setItem("color-theme", "dark");
        }

        if (event.data === "dark-mode-disabled") {
          localStorage.setItem("color-theme", "light");
        }
      });
    </script>
  </head>
  <body> </body>
</html>
