---
import LsScript from "components/ls-script.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LS</title>
    <script is:inline>
      const htmlElement = document.documentElement;
    </script>
    <LsScript />
  </head>
  <body> </body>
</html>
