---
import Master from "layouts/master.astro";
---

<Master>
  <div class="border-b border-border px-4">
    <nav class="uk-navbar" uk-navbar>
      <div class="uk-navbar-left gap-x-4 lg:gap-x-6">
        <div class="uk-navbar-item w-[200px]">
          <button class="uk-button uk-button-default w-full" type="button">
            <div class="flex flex-1 items-center gap-2">
              <span
                class="relative flex h-5 w-5 shrink-0 overflow-hidden rounded-full"
              >
                <img
                  class="aspect-square h-full w-full grayscale"
                  alt="Alicia Koch"
                  src="https://avatar.vercel.sh/personal.png"
                />
              </span>
              <span class="">Alicia Koch</span>
            </div>
            <span class="size-4 opacity-50">
              <uk-icon icon="chevrons-up-down"></uk-icon>
            </span>
          </button>
          <div
            class="uk-drop uk-dropdown w-[200px]"
            uk-dropdown="mode: click; pos: bottom-center"
          >
            <ul class="uk-dropdown-nav uk-nav">
              <li class="uk-nav-header">Personal Account</li>
              <li class="uk-active">
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <span
                      class="relative flex h-5 w-5 shrink-0 overflow-hidden rounded-full"
                    >
                      <img
                        class="aspect-square h-full w-full grayscale"
                        alt="Alicia Koch"
                        src="https://avatar.vercel.sh/personal.png"
                      />
                    </span>
                    <span class="">Alicha Koch</span>
                  </div>
                  <uk-icon icon="check"></uk-icon>
                </a>
              </li>
              <li class="mt-3"></li>
              <li class="uk-nav-header">Teams</li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <span
                      class="relative flex h-5 w-5 shrink-0 overflow-hidden rounded-full"
                    >
                      <img
                        class="aspect-square h-full w-full grayscale"
                        alt="Alicia Koch"
                        src="https://avatar.vercel.sh/personal.png"
                      />
                    </span>
                    <span class="">Acme Inc.</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  <div class="flex flex-1 items-center gap-2">
                    <span
                      class="relative flex h-5 w-5 shrink-0 overflow-hidden rounded-full"
                    >
                      <img
                        class="aspect-square h-full w-full grayscale"
                        alt="Alicia Koch"
                        src="https://avatar.vercel.sh/personal.png"
                      />
                    </span>
                    <span class="">Monster Inc.</span>
                  </div>
                </a>
              </li>
              <li class="uk-nav-divider"></li>
              <li>
                <a class="uk-drop-close" href="#demo" uk-toggle>
                  <uk-icon class="mr-2" icon="circle-plus"></uk-icon>
                  Create a Team
                </a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="uk-navbar-nav gap-x-4 lg:gap-x-6">
          <li class="uk-active">
            <a href="#demo" uk-toggle>Overview</a>
          </li>
          <li>
            <a href="#demo" uk-toggle>Customers</a>
          </li>
          <li>
            <a href="#demo" uk-toggle>Products</a>
          </li>
          <li>
            <a href="#demo" uk-toggle>Settings</a>
          </li>
        </ul>
      </div>

      <div class="uk-navbar-right gap-x-4 lg:gap-x-6">
        <div class="uk-navbar-item w-[150px] lg:w-[300px]">
          <input class="uk-input" placeholder="Search" type="text" />
        </div>
        <div class="uk-navbar-item">
          <a
            class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-accent ring-ring focus:outline-none focus-visible:ring-1"
            href="#"
          >
            <span
              class="relative flex h-8 w-8 shrink-0 overflow-hidden rounded-full"
            >
              <img
                class="aspect-square h-full w-full"
                alt="@shadcn"
                src="https://api.dicebear.com/8.x/lorelei/svg?seed=sveltecult"
              />
            </span>
          </a>
          <div
            class="uk-drop uk-dropdown"
            uk-dropdown="mode: click; pos: bottom-right"
          >
            <ul class="uk-dropdown-nav uk-nav">
              <li class="px-2 py-1.5 text-sm">
                <div class="flex flex-col space-y-1">
                  <p class="text-sm font-medium leading-none">sveltecult</p>
                  <p class="text-xs leading-none text-muted-foreground">
                    leader@sveltecult.com
                  </p>
                </div>
              </li>
              <li class="uk-nav-divider"></li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  Profile
                  <span class="ml-auto text-xs tracking-widest opacity-60">
                    ⇧⌘P
                  </span>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  Billing
                  <span class="ml-auto text-xs tracking-widest opacity-60">
                    ⌘B
                  </span>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  Settings
                  <span class="ml-auto text-xs tracking-widest opacity-60">
                    ⌘S
                  </span>
                </a>
              </li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  New Team
                </a>
              </li>
              <li class="uk-nav-divider"></li>
              <li>
                <a class="uk-drop-close justify-between" href="#demo" uk-toggle>
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="flex-1 space-y-4 p-8 pt-6">
    <div class="flex items-center justify-between space-y-2">
      <h2 class="text-3xl font-bold tracking-tight">Dashboard</h2>
      <div class="flex items-center space-x-2">
        <button class="uk-button uk-button-default w-[260px]">
          <div class="flex gap-x-2" uk-toggle="#demo">
            <span class="size-4">
              <uk-icon icon="calendar-days"></uk-icon>
            </span>
            Jan 20, 2024 - Feb 09, 2024
          </div>
        </button>
        <button class="uk-button uk-button-primary" uk-toggle="#demo">
          Download
        </button>
      </div>
    </div>

    <div class="space-y-4">
      <ul class="uk-tab-alt max-w-96">
        <li class="uk-active">
          <a href="#demo" uk-toggle>Overview</a>
        </li>
        <li>
          <a href="#demo" uk-toggle>Analytics</a>
        </li>
        <li>
          <a href="#demo" uk-toggle>Reports</a>
        </li>
        <li>
          <a href="#demo" uk-toggle>Notifications</a>
        </li>
      </ul>

      <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
        <div class="uk-card">
          <div
            class="uk-card-header flex flex-row items-center justify-between"
          >
            <h3 class="text-sm font-medium tracking-tight">Total Revenue</h3>
            <span class="size-4 text-muted-foreground">
              <uk-icon icon="dollar-sign"></uk-icon>
            </span>
          </div>
          <div class="uk-card-body">
            <div class="text-2xl font-bold">$45,231.89</div>
            <p class="text-xs text-muted-foreground">+20.1% from last month</p>
          </div>
        </div>

        <div class="uk-card">
          <div
            class="uk-card-header flex flex-row items-center justify-between"
          >
            <h3 class="text-sm font-medium tracking-tight">Subscriptions</h3>
            <span class="size-4 text-muted-foreground">
              <uk-icon icon="users"></uk-icon>
            </span>
          </div>
          <div class="uk-card-body">
            <div class="text-2xl font-bold">+2350</div>
            <p class="text-xs text-muted-foreground">+180.1% from last month</p>
          </div>
        </div>

        <div class="uk-card">
          <div
            class="uk-card-header flex flex-row items-center justify-between"
          >
            <h3 class="text-sm font-medium tracking-tight">Sales</h3>
            <span class="size-4 text-muted-foreground">
              <uk-icon icon="credit-card"></uk-icon>
            </span>
          </div>
          <div class="uk-card-body">
            <div class="text-2xl font-bold">+12,234</div>
            <p class="text-xs text-muted-foreground">+19% from last month</p>
          </div>
        </div>

        <div class="uk-card">
          <div
            class="uk-card-header flex flex-row items-center justify-between"
          >
            <h3 class="text-sm font-medium tracking-tight">Active Now</h3>
            <span class="size-4 text-muted-foreground">
              <uk-icon icon="chart-line"></uk-icon>
            </span>
          </div>
          <div class="uk-card-body">
            <div class="text-2xl font-bold">+573</div>
            <p class="text-xs text-muted-foreground">+201 since last hour</p>
          </div>
        </div>
      </div>

      <div class="grid gap-4 lg:grid-cols-7">
        <div
          class="uk-card flex min-h-64 items-center justify-center lg:col-span-4"
        >
          <div
            class="flex flex-1 items-center justify-center gap-x-2 text-destructive"
          >
            <span class="size-4">
              <uk-icon icon="info"></uk-icon>
            </span>
            Graph not available
          </div>
        </div>

        <div class="uk-card lg:col-span-3">
          <div class="uk-card-header">
            <h3 class="font-semibold leading-none tracking-tight">
              Recent Sales
            </h3>
            <p class="text-sm text-muted-foreground">
              You made 265 sales this month.
            </p>
          </div>
          <div class="uk-card-body">
            <div class="space-y-8">
              {
                [
                  {
                    name: "Olivia Martin",
                    email: "olivia.martin@email.com",
                    amount: "+$1,999.00",
                  },
                  {
                    name: "Jackson Lee",
                    email: "jackson.lee@email.com",
                    amount: "+$39.00",
                  },
                  {
                    name: "Isabella Nguyen",
                    email: "isabella.nguyen@email.com",
                    amount: "+$299.00",
                  },
                  {
                    name: "William Kim",
                    email: "will@email.com",
                    amount: "+$99.00",
                  },
                  {
                    name: "Sofia Davis",
                    email: "sofia.davis@email.com",
                    amount: "+$39.00",
                  },
                ].map((a) => (
                  <div class="flex items-center">
                    <span class="relative flex h-9 w-9 shrink-0 overflow-hidden rounded-full bg-accent">
                      <img
                        class="aspect-square h-full w-full"
                        alt="Avatar"
                        src={`https://api.dicebear.com/8.x/lorelei/svg?seed=${a.name}`}
                      />
                    </span>
                    <div class="ml-4 space-y-1">
                      <p class="text-sm font-medium leading-none">{a.name}</p>
                      <p class="text-sm text-muted-foreground">{a.email}</p>
                    </div>
                    <div class="ml-auto font-medium">{a.amount}</div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Master>
